{% extends 'main/base.html' %}
{% block title %}list{% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method="post" action="#">
        {% csrf_token %}
            {% for item in ls.item_set.all %}
            <div class="input-group mb-3>">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {% if item.complete == True %}
                            <input type="checkbox", value="clicked", name="check_button_{{item.id}}" checked>
                        {% else %}
                            <input type="checkbox", value="clicked", name="check_button_{{item.id}}">
                        {% endif %}
                    </div>
                </div>
                <input type="text", value="{{item.text}}" class="form-control">
            </div>
        {% endfor %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-success",  type="submit", name="add_new_item_button", value="add_new_item">Add new item</button>
            </div>
            <input type="text", name="new_item_input">
        </div>
        <button class="btn btn-success", type="submit", name="save_check_button", value="save_check_button">Save checks</button>
    </form>
{% endblock %}
